@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');

*{
    cursor: url("https://www.pngmart.com/files/3/Cursor-Arrow-PNG-File.png"),auto;
}

body{
    display: flex;
    flex-direction: column;
    font-family: "Nova Round";
    background-image: url("../../assets/bgimg.png");    
}